.title {
  color: red !important;
  font-size: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.table_responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  white-space: nowrap;
  padding: 8px;
  text-align: left;
}

@media (max-width: 480px) {
  .accordionHeader {
    font-size: 1.5rem;
  }
  td,
  th {
    padding: 4px 6px;
    word-break: break-word;
  }
}

:global(.accordion-item) {
  background: transparent !important;
  border: none;
}

:global(.accordion-button) {
  background: rgba(70, 101, 226, 0.5);
  box-shadow: none;
}

:global(.accordion-button:not(.collapsed)) {
  background: rgba(166, 184, 255, 0.5);
  box-shadow: none;
}

:global(.accordion-body) {
  background: rgba(45, 87, 255, 0.23);
}