.title{
  text-align: center;
  color: red;
}
.video {
  height: 40vh;
  width: 100%;
  display: block;
  margin: 20px auto;
  max-width: 100%;
}
.body{
  padding: 1%;
  color: rgb(64, 0, 255);
  font-size: x-large;
}