.title{
  text-align: center;
  color: red;
  padding-top: 1.8%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  min-height: 100vh;       
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;                 
}